.main{
    padding-top: 5%;
    overflow-y: hidden;
overflow-x: hidden; 

}
.loginbox
{
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 50px;
    background: rgb(139,108,227);
    background: linear-gradient(98deg, rgba(139,108,227,1) 0%, rgba(238,238,238,1) 55%);
}
.googlebtn
{
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

.loginBtn{
    padding: 2% 10% 2% 10%;
}
input{
    border-left: hidden;
}

 #icon {
    position: absolute;
    left: 10px;
    top: auto;
    margin-left: 10px;
    margin-right: 10px;
   
 }
 .inputContainer {
    margin: 5px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
 }
 input{
    border: 2px solid #eee;
    padding: 5px 10px 5px 50px;
    font-size: 20px;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 100%;
    margin-top: 1%; background-color: #F1F1F1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
select{
    
    padding: 5px 10px 5px 50px;
    font-size: 20px;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 100%;
    padding-top: 2%; 
    padding-bottom: 2%;
    background-color: #F1F1F1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: #eee;

}
select:focus {
    color: #9e9e9e;
  }
option{
    color:black;
}
