.card-body
{
    border-radius: 20px;

}
.card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.maincard
{
    border: 4px solid rgb(150, 150, 150);
    padding: 2% 2% 2% 2%;
    border-radius: 20px;

}
h2
{
    font-weight: 600;
}